openapi: 3.1.0
info:
  title: ClinicalTrials.gov Data API v2 Stats API
  description: 'The ClinicalTrials.gov Data API v2 is a public REST API operated by the

    U.S. National Library of Medicine (NIH). It returns study records,

    metadata, statistics, search areas, and enumerations as JSON. Data is in

    the public domain and no authentication is required.

    '
  version: 2.0.0
servers:
- url: https://clinicaltrials.gov/api/v2
  description: ClinicalTrials.gov Data API v2 production
tags:
- name: Stats
paths:
  /stats/size:
    get:
      summary: Study record sizes
      responses:
        '200':
          description: Size statistics
          content:
            application/json:
              schema:
                type: object
      tags:
      - Stats
  /stats/field/values:
    get:
      summary: Field value distribution
      parameters:
      - name: types
        in: query
        schema:
          type: string
      - name: fields
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Field value statistics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - Stats
  /stats/field/sizes:
    get:
      summary: Field size statistics
      parameters:
      - name: fields
        in: query
        schema:
          type: string
      responses:
        '200':
          description: Field size statistics
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
      tags:
      - Stats
